body
{
    /*font-family: 'Roboto', sans-serif;    */
    font-family:arial;
    font-size:12px;
    color:#111;
    background:     
    radial-gradient(#fafafa,#eee); 
    background-blend-mode: multiply;
    height:100%;
    overflow:hidden;

}
.container
{
    width:350px;
    height:350px;
    text-align:center;
}

#dataTable, #dataTable td
{
    border-width:1px;
    font-size:12px;
    color:#777;
    border-color:#ccc;
    border-style:solid;
    cell-spacing:0;
    padding-top:1;
    padding-bottom:1;
    padding-left: 5;
    padding-right:5;
    border-collapse: collapse;
}

#code
{
    
}

#holdingTable
{
    font-size:12px;
    height:400px;
    position:absolute;
    left:50%;
    top:40%;
    margin-left:-600px;
    margin-top:-200px;
    
}


.footerLink
{
    position:absolute;
    bottom:5px;
    right:10px;
    font-size:10px;
}
.footerLink a
{
    color:#3a3a3a;
    font-weight:bold;
    text-decoration:none;
}

.footerLink a:hover
{
    color:#3a3;
}
#footer
{
    position:absolute;
    bottom:0px;
    left:0px;
    height:20px;
    width:100%;
    
}

canvas
{
    margin-left:150px;
}

.sideTD
{
    width:200px;
    background-color:#F00;
}
.centreTD
{
    width:400px;
    background-color:#0F0;
}